<section class="section" id="trainers">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>Expert <em>Trainers</em></h2>
                    <img src="assets/images/line-dec.png" alt="">
                    <p>"Our expert trainers are here to help you succeed. With personalized guidance and motivation, reach your fitness goals faster."</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="trainer-item">
                    <div class="image-thumb">
                        <img src="assets/images/walid.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <span>BodyBuilding Trainer</span>
                        <h4>Walid Dadi</h4>
                        <p>"Introducing Walid Dadi, our BodyBuilding Trainer. With expert guidance and tailored workouts, Walid helps you achieve your fitness goals effectively."</p>
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/profile.php?id=100083196266295"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/_walidlaroza_/"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="trainer-item">
                    <div class="image-thumb">
                        <img src="assets/images/wassim.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <span>Muscle Trainer</span>
                        <h4>Wassim Fenni</h4>
                        <p>"Build your muscles with Wassim. Join his workouts for results. Follow for fitness tips."</p>
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/wassim.fenni.1297"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/fenniwassim/"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="trainer-item">
                    <div class="image-thumb">
                        <img src="assets/images/louay.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <span>Power Trainer</span>
                        <h4>Louay Touati</h4>
                        <p>"Empower your fitness journey with Louay Touati. Join his high-energy sessions to build strength and reach your goals."</p>
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/louay.touati.56"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/louay_touati.fps"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>