<!-- ***** Our Classes Start ***** -->
<section class="section" id="our-classes">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>Our <em>Classes</em></h2>
                    <img src="assets/images/line-dec.png" alt="">
                    <p>Welcome to our diverse classes, tailored to all fitness levels and goals. Sculpt, strengthen, boost endurance, find peace – we've got you covered!</p>
                </div>
            </div>
        </div>
        <div class="row" id="tabs">
          <div class="col-lg-4">
            <ul>
              <li><a href='#tabs-1'><img src="assets/images/bodybuildingicon.png" alt="">BodyBuilding</a></li>
              <li><a href='#tabs-2'><img src="assets/images/cardioicon.png" alt="">Cardio</a></li>
              <li><a href='#tabs-3'><img src="assets/images/runningicon.png" alt="">Running</a></li>
              <li><a href='#tabs-4'><img src="assets/images/yogaicon.png" alt="">Yoga</a></li>
              <div class="main-rounded-button"><a href="#">View All Schedules</a></div>
            </ul>
          </div>
          <div class="col-lg-8">
            <section class='tabs-content'>
              <article id='tabs-1'>
                <img src="assets/images/bodybuilding.jpg" alt="First Class">
                <h4>BodyBuilding</h4>
                <p>Explore our bodybuilding class, where you'll engage in strength training exercises tailored to enhance muscle tone and definition. Get ready to push your limits and achieve remarkable results.</p>
                <div class="main-button">
                    <a href="#">View Schedule</a>
                </div>
              </article>
              <article id='tabs-2'>
                <img src="assets/images/cardio.jpg" alt="Second Training">
                <h4>Cardio</h4>
                <p>If you prefer to elevate your heart rate and burn calories, our Cardio class is perfect for you. Sweat it out with dynamic, high-energy workouts designed to improve cardiovascular endurance and overall fitness.</p>
                <div class="main-button">
                    <a href="#">View Schedule</a>
                </div>
              </article>
              <article id='tabs-3'>
                <img src="assets/images/Running.jpg" alt="Third Class">
                <h4>Running</h4>
                <p>For those who love the rhythm of running, our Running class offers a thrilling outdoor experience. Join our passionate instructors as they guide you through scenic routes, helping you unleash your full running potential</p>
                <div class="main-button">
                    <a href="#">View Schedule</a>
                </div>
              </article>
              <article id='tabs-4'>
                <img src="assets/images/Yoga.jpg" alt="Fourth Training">
                <h4>Yoga</h4>
                <p>Find balance and harmony in our Yoga class, where you'll embark on a journey of self-discovery and inner peace. Release stress, improve flexibility, and rejuvenate your mind, body, and soul.</p>
                <div class="main-button">
                    <a href="#">View Schedule</a>
                </div>
              </article>
            </section>
          </div>
        </div>
    </div>
</section>
<!-- ***** Our Classes End ***** -->